<link rel="stylesheet" href="/components/Navigation/header.css" />

<div class="logo">
  <a href="#accueil">
    <img
      src="../../assets/images/logo/logo.png"
      alt="Logo MonPortfolio"
      class="logo-img"
    />
    <span>Adèle Privat</span>
  </a>
</div>

<nav>
  <ul>
    <li><a href="/Index.html#accueil">Accueil</a></li>
    <li><a href="/Index.html#parcours">Parcours</a></li>
    <li><a href="/pages/ProjectsPage/Project.html">Projets</a></li>
    <li><a href="/pages/assos/Assos.html#accueil-assos">Associatif</a></li>
    <li><a href="/pages/Competances/Contact.html">Compétences</a></li>
    <li><a href="/pages/CentreI/interet.html">Centres d'interets</a></li>
    <li><a href="/pages/Contact/contact.html">Contact</a></li>
  </ul>
</nav>

<!-- From Uiverse.io by vinodjangid07 - Cyberpunk Version -->
<a href="/assets/documents/CV.pdf" target="_blank" class="buttona">
  <p class="button-content">Mon CV <i class="fa-solid fa-download"></i></p>
</a>
