<link rel="stylesheet" href="/components/Footer/footer.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
/>

<div class="footer_container">
  <div class="footer-logo">
    <div class="footer_principal">
      <img
        src="/assets/images/logo/logoViolet.png"
        alt="Logo"
        class="footer-logo-img"
      />
      <span>Adèle Privat</span>
    </div>
    <p class="mini-bio">
      Développeuse passionnée par la fusion entre technologie et design durable.
    </p>

    <div class="social-icons-new">
      <a href="https://linkedin.com/in/adele-privat" target="_blank"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a href="https://github.com/Adele-code377" target="_blank"
        ><i class="fa-brands fa-github"></i
      ></a>
      <a href="#discord"><i class="fa-brands fa-discord"></i></a>
    </div>
  </div>

  <div class="footer_section">
    <h4>Navigation</h4>
    <ul>
      <li><a href="#accueil">Accueil</a></li>
      <li><a href="#projets">Projets</a></li>
      <li><a href="#ProA">Associatif</a></li>
      <li><a href="#interet">Intérêts</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>

  <div class="footer_section">
    <h4>Contact</h4>
    <div class="contact-info">
      <p><i class="fa-solid fa-envelope"></i> email@exemple.com</p>
      <p><i class="fa-solid fa-location-dot"></i> Ta Ville, France</p>
      <p><i class="fa-solid fa-phone"></i> 06 00 00 00 00</p>
    </div>
  </div>

  <div class="footer_section">
    <h4>Ressources</h4>
    <div class="footer_socials">
      <a href="/assets/documents/CV.pdf" target="_blank" class="footer_link">
        Mon CV <i class="fa-solid fa-download"></i>
      </a>
      <a
        href="https://www.esiee-it.fr/..."
        target="_blank"
        class="footer_parcours"
      >
        Mon parcours
      </a>
    </div>
  </div>
</div>

<div class="footer-bottom">
  <p>&copy; 2026 Adèle Privat — Portfolio</p>
</div>
